name: Go

on:
  push:
  pull_request:

jobs:
  
  Go:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.18', '1.19' ]
    steps:
      - uses: actions/checkout@v3
        
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - name: Gofmt
        run: if [[ $(gofmt -l . | head -c1 | wc -c) -ne 0 ]]; then false; fi

      - name: Get
        run: go get -v ./...
        
      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -race -covermode atomic -coverprofile=covprofile ./...

      - name: Install goveralls
        run: go install github.com/mattn/goveralls@latest

      - name: Send coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.COVERALL_TOKEN }}
        run: goveralls -coverprofile=covprofile -service=github
